body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #b7b7b72f;
}

.container {
    background-color: black;
    border-radius: 30px;
    width: 400px;
    height: 600px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.screen {
    /* background-color: cadetblue; */
    flex: 1;
}

.num-pad {
    /* background-color: yellow; */
    flex: 3;
}